<div class="container-slider">

    <ol class="carousel-indicators">
        <li data-target="#.slider__section" data-slide-to="0" class="indicator active"></li>
        <li data-target="#.slider__section" data-slide-to="1" class="indicator"></li>
        <li data-target="#.slider__section" data-slide-to="2" class="indicator"></li>
        <li data-target="#.slider__section" data-slide-to="3" class="indicator"></li>
        <li data-target="#.slider__section" data-slide-to="4" class="indicator"></li>
    </ol>

    <div class="slider" id="slider" role="listbox">

        <div class="slider__section active">
            <img src="./media/images/slider1.png" alt="" class="slider__img">
        </div>
        <div class="slider__section active">
            <img src="./media/images/slider2.png" alt="" class="slider__img">
        </div>
        <div class="slider__section active">
            <img src="./media/images/slider3.png" alt="" class="slider__img">
        </div>
        <div class="slider__section active">
            <img src="./media/images/slider4.png" alt="" class="slider__img">
        </div>
        <div class="slider__section active">
            <img src="./media/images/slider5.png" alt="" class="slider__img">
        </div>

        <div class="slider-btn slider--btn-l"> &#60; </div>
        <div class="slider-btn slider--btn-r"> &#62; </div>

    </div>
</div>


<div id="boton">
   <a href="/apply"><button type="submit">learn more</button></a> 

   <script src="./script/slider.js"></script>