
<a name="contactUs">
  <div id="socials">


    <div class="lists">
      <ul>
        <li> <img src="./media/images/instagram.png" alt=""> @xagencies  
        </li>
        <li><img src="./media/images/facebook.png" alt=""> X Agencies
       </li>
        <li><img src="./media/images/sc.png" alt=""> @x_agencies </li>
        <li><img src="./media/images/telf.png" alt=""> 948 123 2567</li>
        <li> <img src="./media/images/mail.png" alt=""> models@xagencies.com</li>
      </ul>
    </div>


  
</div>


  <div id="map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.008418462083!2d-73.98918198459424!3d40.739840279328845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a124d10849%3A0xa47a7d5da5575afe!2sWilhelmina%20Models!5e0!3m2!1ses-419!2sdo!4v1622066015141!5m2!1ses-419!2sdo" width="1220" height="1000" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

</div>
</a>

<a name="values">
<div id="mvv" >
  <br>
  <div id="nombres" > 
    <div class="mision">
      <div class="p3">
Mision
      </div>
    </div>
    <div class="mision" >
      <div class="p3">
Vision
      </div>
    </div>
    <div class="mision">
      <div class="p3">
Values
      </div>
    </div>
  </div>

  <div id="cont">
    <div class="parr">
      <p>
        Our expertise and professional purpose revolves around model development and its associated supportive services.
        We know well that most<br>
        models aren’t born with natural confidence or flare, instead, most models have to work really hard at developing
        their commercial potential. We<br>
        know firsthand that it takes time to turn talent into a credible portfolio, so we’re here to support model
        growth and development.
      </p>
    </div>
    <div class="parr">
      <ul>
        <li>To work with models in need of informed, experienced industry guidance in a safe, professional context.
        </li>

        <li>To support the development of real confidence along with training, in preparation for model scouts.</li>

        <li>To refine model presence and professional impact in preparation for agency placement.</li>

        <li>To influence models in a positive manner with support, cultivating healthy self-image.</li>
      </ul>
    </div>
    <div class="parr">
      <ul>
        <li>Honesty</li>

        <li>Reliability</li>

        <li>Optimism</li>

        <li>Commitment</li>
      </ul>
    </div>
  </div>

</div>
</a>

