
   
   <div id="hombres">
    <a name="men">
        <h2> Men </h2>
    </a>
    <br>
    <br>
        <div class="imgs">
            <img src="./media/images/male10.png">
            <img src="./media/images/male2.png">
            <img src="./media/images/male3.png">
            <img src="./media/images/male4.png">
            <img src="./media/images/male5.png" class="adios">


        </div>

        <div class="imgs">
            <img src="./media/images/male6.png">
            <img src="./media/images/male7.png">
            <img src="./media/images/male8.png">
            <img src="./media/images/male9.png">
            <img src="./media/images/male1.png" class="adios">

        </div>

        <div class="imgs">
            <img src="./media/images/male11.png">
            <img src="./media/images/male12.png">
            <img src="./media/images/male13.png">
            <img src="./media/images/male14.png">
            <img src="./media/images/male15.png" class="adios">

        </div>
    
<a name="women">
    <div id="mujeres">
        <h2>Woman</h2>
        <div class="imgs">
            <img src="./media/images/female5.png">
            <img src="./media/images/female4.png">
            <img src="./media/images/female2.png">
            <img src="./media/images/female3.png">
            <img src="./media/images/female1.png" class="adios">
        </div>

        <div class="imgs">
            <img src="./media/images/female6.png">
            <img src="./media/images/female7.png">
            <img src="./media/images/female8.png">
            <img src="./media/images/female9.png">
            <img src="./media/images/female10.png" class="adios">
        </div>

        <div class="imgs">
            <img src="./media/images/female11.png">
            <img src="./media/images/female12.png">
            <img src="./media/images/female13.png">
            <img src="./media/images/female14.png">
            <img src="./media/images/female15.png" class="adios">
        </div>
</a>
</div>