
 <div class="galery">
    <div class="news"><button>News</button></div>
    <div class="covers"><button>covers</button></div>
    <div class="imagesgrid">
      <div class="news1">
        <img src="./media/images/news1.png" alt="">      
    </div>
    <div class="news2">
        <img src="./media/images/news2.png" alt="" id="XD"> <br>
        <img src="./media/images/news3.png" alt="">
    </div>
    <div class="news3">
        <img src="./media/images/news4.png" alt="">
    </div>

</div>


