<div id="left">
<p>
our agencies are the firsts in the US,<br>
plus we hire people from all around the<br>
world to be part of our team.
</p>
</div>
<div id="right">
<p>
    models@xagencies.com
    <br>
    948 - 123 - 4567
    <br>
    copyright - Xamira Lapaix ©
</p>
</div>