<div id="jedel">
    <div id="list">
    
        <ul class="unem">
            <li><a href="/start"><img src="./media/images/agenciaa.png" alt="start"></a></li>
            <li><a href="/models">models</a></li>
            <li><a href="/apply">apply</a></li>
            <li><a href="/news">pics</a></li>
            <li><a href="/aboutUs">about us</a></li>
        </ul>
    </div>
    

    <div id="desp">
        <input type="checkbox" id="menubot">
        <label for="menubot"><img src="./media/images/menu (1).png" alt=""></label>

        <nav class="menu">
            <ul>
                    <li><a href="#men">Men</a></li>
                    <li><a href="#women">Women</a></li>
                <li><a href="/aboutUs">about us</a></li>
                <ul class="part">
                    <li><a href="#contactUs">contact us</a></li>
                    <li><a href="#values">mission, vision, values</a></li>
                </ul>

                <li>check us out!
                    <br>
                    <img src="./media/images/instagram.png" alt="insta" class="red">
                    <img src="./media/images/facebook.png" alt="fb" class="red">
                    <img src="./media/images/sc.png" alt="sc" class="red">
                </li>
            </ul>
        </nav>
    </div>
</div>